numpy
flask
pandas==0.24.2
requests
pydash
apscheduler
pymongo
pytest
ratelimit
waitress
click
pytdx
tqsdk
pyecharts

colorama
Brotli
cryptography
lxml
certifi
aiohttp
yarl
six
pytz
idna
multidict
Jinja2
Werkzeug
itsdangerous
cffi
nose
scipy==1.1.0
matplotlib
mpmath
sympy
websockets
simplejson
pycares
gevent
greenlet
MarkupSafe
python-dateutil
SQLAlchemy
attrs
pluggy
packaging
atomicwrites

aiodns
chardet
tzlocal
wcwidth
urllib3
pyparsing
pycparser
prettytable
websocket-client
zipp
tushare

typing
colorlog
wheel
numba
Cython
pexpect
ply
rqdatac
seaborn
statsmodels==0.9.0
logbook

quantaxis
