numpy
flask
pandas==0.24.2
requests
pydash
apscheduler
pymongo
pytest
ratelimit
waitress
click
pytdx
pyecharts
scipy==1.1.0
matplotlib
prettytable
tushare
quantaxis
loguru
et_stopwatch
func_timeout
pytz
colorama
