.multi-period-main {
    position absolute
    left: 0;
    right: 0
    bottom: 0
    top: 0;
    width: 100%
    height: 100%;
    overflow hidden

    .input-form {
        margin: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 35px;
    }

    .stock-input {
        width: 200px;
    }
    .stock-input-short {
        width: 100px;
    }

    .echarts-list {
        padding-top 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
        .echarts-item {
            width: 33.2%;
            height: 49.5%;
        }
    }
}
