.nav_btn_clicked {
    font-weight: bold;
}

.switchContainer {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;

    a {
        cursor: pointer;

        &:hover {
            color: red !important;
        }
    }
}
.current-market{
    margin: 0 20px
}

.bold {
    font-weight: bold;
}
.light{
    color:gray !important;
}

.home{
    color:red;
    cursor:pointer;
    font-weight: bold;
}