<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>心如止水</title>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./home.css">
</head>
<body>
<div id="app">
    <div class="switchContainer">
        <h1>顺势而为 抓大放小 以小博大 提高胜率比（双盘|二买|完备|三买）</h1>
    </div>
    <div class="search-container">
        <span>搜索:</span><input type="text" v-model="value2Computed" placeholder="品种代码">
        <button @click="switchStrategy('0')">刷新监控</button>
    </div>
    <div class="current-market">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
            <tr>
                <td class="remark-item">代码</td>
                <td class="remark-item">周期</td>
                <td class="remark-item">时间</td>
                <td class="remark-item">价格</td>
                <td class="remark-item">备注</td>
                <td class="remark-item">标签</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="signal in signalList">
                <td><a @click="jumpToKline(signal.code, signal.period)">{{ signal.code }}</a></td>
                <td>{{ signal.period }}</td>
                <td>{{ signal.fire_time }}</td>
                <td>{{ signal.price }}</td>
                <td>{{ signal.remark }}</td>
                <td>{{ signal.tags }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="js/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stock.js" type="text/javascript"></script>
</body>
</html>
